### Inspecting DataFrame

In [1]:
#Load libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
#Import sales dataset
sales = pd.read_csv("sales_subset.csv", sep=',', index_col="Unnamed: 0")
print(sales.head())

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [3]:
# Print the info about the sales DataFrame
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB
None

### Statistical Analysis

In [4]:
# Print the mean of weekly_sales
print("The mean of weekly_sales is {:.3f}".format(sales["weekly_sales"].mean()), end=("\n\n"))
print('--------'*5,end=("\n\n"))
# Print the median of weekly_sales
print("The median of weekly_sales is {:.3f}".format(sales["weekly_sales"].median()))

The mean of weekly_sales is 23843.950

----------------------------------------

The median of weekly_sales is 12049.065

In [5]:
# Convert 'date' column to datetime type
sales['date'] = pd.to_datetime(sales['date'])

# Print the maximum of the date column
print(f"The recent date is {sales['date'].max().strftime('%Y-%m-%d')}")

# Print the minimum of the date column
print(f"The oldest date is {sales['date'].min().strftime('%Y-%m-%d')}")

The recent date is 2012-10-26
The oldest date is 2010-02-05

In [6]:
# measure the difference between the first quartile (25th percentile) and the third quartile (75th percentile) of a temperature_c
#Method 1
per_25th = sales["temperature_c"].quantile(0.25)
print("First Quartile (25th percentile): {:.3f}".format(per_25th))

per_75th = sales["temperature_c"].quantile(0.75)
print("Third Quartile (75th percentile): {:.3f}".format(per_75th))

diff_per = per_75th - per_25th
print("Difference between quartiles (IQR): {:.3f}".format(diff_per))

First Quartile (25th percentile): 7.583
Third Quartile (75th percentile): 24.167
Difference between quartiles (IQR): 16.583

In [7]:
#Method 2
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales["temperature_c"].agg(iqr))

16.583333333333336

In [8]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [9]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr, np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

In [10]:
# Sort sales_1_1 by date
sales_1_1 = sales.sort_values("date")
print(sales_1_1)

       store type  department       date  weekly_sales  is_holiday  \
0          1    A           1 2010-02-05      24924.50       False
6437      19    A          13 2010-02-05      38597.52       False
1249       2    A          31 2010-02-05       3840.21       False
6449      19    A          14 2010-02-05      17590.59       False
6461      19    A          16 2010-02-05       4929.87       False
...      ...  ...         ...        ...           ...         ...
3592       6    A          99 2012-10-05        440.00       False
8108      20    A          99 2012-10-05        660.00       False
10773     39    A          99 2012-10-05        915.00       False
6257      14    A          96 2012-10-12          3.00       False
3384       6    A          77 2012-10-26        -21.63       False

       temperature_c  fuel_price_usd_per_l  unemployment
0           5.727778              0.679451         8.106
6437       -6.133333              0.780365         8.350
1249        4.550000              0.679451         8.324
6449       -6.133333              0.780365         8.350
6461       -6.133333              0.780365         8.350
...              ...                   ...           ...
3592       21.577778              0.955511         5.329
8108       15.983333              1.052726         7.293
10773      22.250000              0.955511         6.228
6257       12.483333              1.056689         8.667
3384       22.411111              0.926188         5.329

[10774 rows x 9 columns]

In [11]:
# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1["cum_weekly_sales"] = sales_1_1["weekly_sales"].cumsum()
print(sales_1_1.head())

      store type  department       date  weekly_sales  is_holiday  \
0         1    A           1 2010-02-05      24924.50       False
6437     19    A          13 2010-02-05      38597.52       False
1249      2    A          31 2010-02-05       3840.21       False
6449     19    A          14 2010-02-05      17590.59       False
6461     19    A          16 2010-02-05       4929.87       False

      temperature_c  fuel_price_usd_per_l  unemployment  cum_weekly_sales
0          5.727778              0.679451         8.106          24924.50
6437      -6.133333              0.780365         8.350          63522.02
1249       4.550000              0.679451         8.324          67362.23
6449      -6.133333              0.780365         8.350          84952.82
6461      -6.133333              0.780365         8.350          89882.69

In [12]:
sales_1_1["cum_max_sales"] = sales_1_1["weekly_sales"].cummax()

# See the columns you calculated
print(sales_1_1.head())

      store type  department       date  weekly_sales  is_holiday  \
0         1    A           1 2010-02-05      24924.50       False
6437     19    A          13 2010-02-05      38597.52       False
1249      2    A          31 2010-02-05       3840.21       False
6449     19    A          14 2010-02-05      17590.59       False
6461     19    A          16 2010-02-05       4929.87       False

      temperature_c  fuel_price_usd_per_l  unemployment  cum_weekly_sales  \
0          5.727778              0.679451         8.106          24924.50
6437      -6.133333              0.780365         8.350          63522.02
1249       4.550000              0.679451         8.324          67362.23
6449      -6.133333              0.780365         8.350          84952.82
6461      -6.133333              0.780365         8.350          89882.69

      cum_max_sales
0          24924.50
6437       38597.52
1249       38597.52
6449       38597.52
6461       38597.52

### Dropping duplicates

In [13]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store","type"])
print(store_types.head())

      store type  department       date  weekly_sales  is_holiday  \
0         1    A           1 2010-02-05      24924.50       False
901       2    A           1 2010-02-05      35034.06       False
1798      4    A           1 2010-02-05      38724.42       False
2699      6    A           1 2010-02-05      25619.00       False
3593     10    B           1 2010-02-05      40212.84       False

      temperature_c  fuel_price_usd_per_l  unemployment
0          5.727778              0.679451         8.106
901        4.550000              0.679451         8.324
1798       6.533333              0.686319         8.623
2699       4.683333              0.679451         7.259
3593      12.411111              0.782478         9.765

In [14]:
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store","department"])
print(store_depts.head())

    store type  department       date  weekly_sales  is_holiday  \
0       1    A           1 2010-02-05      24924.50       False
12      1    A           2 2010-02-05      50605.27       False
24      1    A           3 2010-02-05      13740.12       False
36      1    A           4 2010-02-05      39954.04       False
48      1    A           5 2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106

In [15]:
# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales["is_holiday"]==True].drop_duplicates(subset="date")
# Print date col of holiday_dates
print(holiday_dates)

      store type  department       date  weekly_sales  is_holiday  \
498       1    A          45 2010-09-10         11.47        True
691       1    A          77 2011-11-25       1431.00        True
2315      4    A          47 2010-02-12        498.00        True
6735     19    A          39 2012-09-07         13.41        True
6810     19    A          47 2010-12-31       -449.00        True
6815     19    A          47 2012-02-10         15.00        True
6820     19    A          48 2011-09-09        197.00        True

      temperature_c  fuel_price_usd_per_l  unemployment
498       25.938889              0.677602         7.787
691       15.633333              0.854861         7.866
2315      -1.755556              0.679715         8.623
6735      22.333333              1.076766         8.193
6810      -1.861111              0.881278         8.067
6815       0.338889              1.010723         7.943
6820      20.155556              1.038197         7.806

### Counting categorical variables

In [16]:
# Count the number of stores of each type
store_counts = sales["store"].value_counts()
print(store_counts)

13    913
20    910
19    906
10    902
1     901
4     901
27    900
2     897
6     894
31    890
14    885
39    875
Name: store, dtype: int64

In [17]:
# Get the proportion of stores of each type
store_props = sales["store"].value_counts(normalize=True)
print(store_props)

13    0.084741
20    0.084463
19    0.084091
10    0.083720
1     0.083627
4     0.083627
27    0.083534
2     0.083256
6     0.082978
31    0.082606
14    0.082142
39    0.081214
Name: store, dtype: float64

In [18]:
# Count the number of each department number and sort
dept_counts_sorted = sales["department"].value_counts(sort=True)
print(dept_counts_sorted)

1     144
55    144
71    144
67    144
60    144
     ...
50     72
78     56
77     39
39      7
43      2
Name: department, Length: 80, dtype: int64

In [19]:
# Get the proportion of departments of each number and sort ( in descending order ==> sort=True)
dept_props_sorted = sales["department"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

1     0.013366
55    0.013366
71    0.013366
67    0.013366
60    0.013366
        ...
50    0.006683
78    0.005198
77    0.003620
39    0.000650
43    0.000186
Name: department, Length: 80, dtype: float64

### Grouped summary statistics

In [20]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()
print(sales_all)

256894718.89999998

In [21]:
# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()
print(sales_A)

233716315.01

In [22]:
# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()
print(sales_B)

23178403.89

In [23]:
# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()
print(sales_C)

0.0

In [24]:
# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

[0.9097747 0.0902253 0.       ]

In [25]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()
print(sales_by_type)

type
A    2.337163e+08
B    2.317840e+07
Name: weekly_sales, dtype: float64

In [26]:
# Get proportion for each type
sales_propn_by_type = sales_by_type / sum(sales_by_type)
print(sales_propn_by_type)

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

In [27]:
# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type", "is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

In [28]:
# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")["weekly_sales"].agg([min, max, np.mean, np.median])

# Print sales_stats
print(sales_stats)

         min        max          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08

In [29]:
# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([min, max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

     unemployment                         fuel_price_usd_per_l            \
              min    max      mean median                  min       max
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

### Pivoting tables

Get the mean weekly_sales by type using .pivot_table() and store as mean_sales_by_type.

In [30]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales", index="type")

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A     23674.667242
B     25696.678370

Get the mean and median (using NumPy functions) of weekly_sales by type using .pivot_table() and store as mean_med_sales_by_type.

In [31]:
# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean, np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08

Get the mean of weekly_sales by type and is_holiday using .pivot_table() and store as mean_sales_by_type_holiday.

In [32]:
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday = sales.pivot_table(values="weekly_sales", index="type", columns="is_holiday")

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

### Fill in missing values and sum values with pivot tables

Print the mean weekly_sales by department and type, filling in any missing values with 0.

In [33]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0))

type                    A              B
department
1            30961.725379   44050.626667
2            67600.158788  112958.526667
3            17160.002955   30580.655000
4            44285.399091   51219.654167
5            34821.011364   63236.875000
...                   ...            ...
95          123933.787121   77082.102500
96           21367.042857    9528.538333
97           28471.266970    5828.873333
98           12875.423182     217.428333
99             379.123659       0.000000

[80 rows x 2 columns]

print the mean weekly_sales by department and type, filling in any missing values with 0 and summing all rows and columns.

In [34]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0, margins=True))

type                   A              B           All
department
1           30961.725379   44050.626667  32052.467153
2           67600.158788  112958.526667  71380.022778
3           17160.002955   30580.655000  18278.390625
4           44285.399091   51219.654167  44863.253681
5           34821.011364   63236.875000  37189.000000
...                  ...            ...           ...
96          21367.042857    9528.538333  20337.607681
97          28471.266970    5828.873333  26584.400833
98          12875.423182     217.428333  11820.590278
99            379.123659       0.000000    379.123659
All         23674.667242   25696.678370  23843.950149

[81 rows x 3 columns]