### Inspecting Datasets

In [1]:
#Load Libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [6]:
#Import taxi_owners datasets
taxi_owners = pd.read_pickle("taxi_owners.p")
taxi_veh = pd.read_pickle("taxi_vehicles.p")
census = pd.read_pickle("census.p")
wards = pd.read_pickle("ward.p")

print("*FIRST DATA TAXI OWNERS :\n",taxi_owners.head(), end='\n \n')
print("*SECOND DATA TAXI VEHICULES :\n",taxi_veh.head(), end='\n \n')
print("*THIRD DATA CENSUS :\n",census.head(), end='\n \n')
print("*FOURTH DATA WARDS :\n",wards.head(), end='\n \n')

*FIRST DATA TAXI OWNERS :
      rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618

*SECOND DATA TAXI VEHICULES :
     vid    make   model  year fuel_type                owner
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO

*THIRD DATA CENSUS :
   ward  pop_2000  pop_2010 change                                  address  \
0    1     52951     56149     6%              2765 WEST SAINT MARY STREET
1    2     54361     55805     3%                 WM WASTE MANAGEMENT 1500
2    3     40385     53039    31%                      17 EAST 38TH STREET
3    4     51953     54589     5%  31ST ST HARBOR BUILDING LAKEFRONT TRAIL
4    5     55302     51455    -7%  JACKSON PARK LAGOON SOUTH CORNELL DRIVE

     zip
0  60647
1  60622
2  60653
3  60653
4  60637

*FOURTH DATA WARDS :
   ward            alderman                          address    zip
0    1  Proco "Joe" Moreno        2058 NORTH WESTERN AVENUE  60647
1    2       Brian Hopkins       1400 NORTH  ASHLAND AVENUE  60622
2    3          Pat Dowell          5046 SOUTH STATE STREET  60609
3    4    William D. Burns  435 EAST 35TH STREET, 1ST FLOOR  60616
4    5  Leslie A. Hairston            2325 EAST 71ST STREET  60649

In [7]:
# Print the info about the taxis_owenrs & taxis_vehicules DataFrames
print("About Taxis_owners \n :",taxi_owners.info(), end='\n \n')
print("About Taxis_vehicules \n :",taxi_veh.info(), end='\n \n')
print("About Census \n :",census.info(), end='\n \n')
print("About Ward \n :",wards.info(), end='\n \n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3519 entries, 0 to 3518
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   rid      3519 non-null   object
 1   vid      3519 non-null   object
 2   owner    3519 non-null   object
 3   address  3519 non-null   object
 4   zip      3519 non-null   object
dtypes: object(5)
memory usage: 137.6+ KB
About Taxis_owners
 : None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3519 entries, 0 to 3518
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   vid        3519 non-null   object
 1   make       3519 non-null   object
 2   model      3519 non-null   object
 3   year       3519 non-null   int64
 4   fuel_type  3519 non-null   object
 5   owner      3519 non-null   object
dtypes: int64(1), object(5)
memory usage: 165.1+ KB
About Taxis_vehicules
 : None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ward      50 non-null     object
 1   pop_2000  50 non-null     int64
 2   pop_2010  50 non-null     int64
 3   change    50 non-null     object
 4   address   50 non-null     object
 5   zip       50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB
About Census
 : None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ward      50 non-null     object
 1   alderman  50 non-null     object
 2   address   50 non-null     object
 3   zip       50 non-null     object
dtypes: object(4)
memory usage: 1.7+ KB
About Ward
 : None

### Inner Joins

In [8]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid')

# Print the column names of taxi_own_veh
print(taxi_own_veh.head())

     rid   vid         owner_x                 address    zip    make   model  \
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630  NISSAN  ALTIMA
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659   HONDA     CRV
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618  TOYOTA  SIENNA
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645  TOYOTA   CAMRY
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618  TOYOTA  SIENNA

   year fuel_type         owner_y
0  2011    HYBRID  AGEAN TAXI LLC
1  2014  GASOLINE    MANGIB CORP.
2  2015  GASOLINE   FUNRIDE, INC.
3  2014    HYBRID    ALQUSH CORP.
4  2015  GASOLINE  EUNIFFORD INC.

In [9]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own', '_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')

In [10]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: fuel_type, dtype: int64

In [11]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

wards_census table shape: (50, 9)